// color
$bg-color-light: rgb(255, 249, 233);
$text-color-light: rgb(44, 43, 51);

$bg-color-dark: rgb(38, 38, 61);
$text-color-dark: rgb(249, 246, 238);

// font
$main-font: "Lato", sans-serif;
$mono-font: "Source Code Pro", monospace;
$handwrite-font: "Caveat", cursive;
